// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f2f2f2;
  width: 100%;
}

.navbar {
  background-color: white;
  font-size: 1.6em;
  letter-spacing: 2px;
}

.category_bar {
  background-color: #d9dbd9;
  height: 38px;  
}

.category {
  display: inline-block;
  margin: 8px 56px;
  font-size: 16px;
}

.category a {
  color: #444440;
}

.category a:hover {
  color: #5b5b5a;
  text-decoration: none;
}

.categories {
  margin: 0 5px;
}

a.logo {
  font-family: 'Share', cursive;
  color: #06d109;
}

a.logo:hover {
  text-decoration: none;
}

.bar_link {
  font-family: 'Molengo', sans-serif;
  color: #484848;
  font-size: 14px;
  text-transform: uppercase;
  margin: 20px;
}

a.bar_link:hover {
  color: #82f424;
  text-decoration: none;
}

section {
  height: 450px;
  width: 100%;
  background-color: #b3b5b7;
}

figcaption {
  color: white;
  font-size: 22px;
}

figure {
  position: absolute;
}

.image {
  height: 380px;
  width: 420px;
}


.gallery {
  position:relative;
}

figure {
  opacity: 0;
}


@keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  13.6% {
    opacity:1;
  }
  20% {
    opacity:0;
  }
  93.6% {
    opacity:0;
  }   
  100% {
    opacity:1;
  }
}

.gallery figure {
animation-name: cf4FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 20s;
}

.gallery figure:nth-of-type(1) {
  animation-delay: 16s;
}
.gallery figure:nth-of-type(2) {
  animation-delay: 12s;
}
.gallery figure:nth-of-type(3) {
  animation-delay: 8s;
}
.gallery figure:nth-of-type(4) {
  animation-delay: 4s;
}
.gallery figure:nth-of-type(5) {
  animation-delay: 0;
}

.homepage_title {
  display: inline-block;
  margin: 200px 0 0 550px;
}

.to_earn {
  color: black;
  display: inline-block;
  font-size: 22px;
  margin: 0 0 0 220px;
  font-family: 'Pacifico', cursive;
}

.get_to_earn :hover {
  text-decoration: none; 
  color: white; 
}

.title_to_earn {
  color: white;
  display: inline-block;
  font-size: 35px;
}

.categories_list {
  list-style-type: none;
}

.categories_list a {
  color: #5b5b5a;
  text-decoration: none;
}

.category_list_title {
  margin: 40px 40px 20px;
  font-size: 22px;
}

.categories_listing {
  margin-left: -60px;
}

.all_lists{
  height: 300px;
  overflow: scroll;
  margin-bottom: 100px;
}

.user_link {
  margin: 30px;
}

.profile-pic {
  margin: 20px;
}





