// Place all the styles related to the skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container main {
  background-color: gray;
}

.show_all_skills {
  margin: 50px 10px 10px -150px;
}

.review {
  margin-left: -50px;
  background-color: white;
}
