// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_botton {
  float: right;
  background-color: #06d109;
  border-color: white;
}

.new_botton:hover {
  background-color: gray;
  border-color: white;
}

.form {
  margin-top: 30px;
}

.new_form_title {
  color: #323233;
}

.main {
  margin-top: 30px;
}

.add_new_skill_button {
  margin-top: 30px;
}